<div class="centered-content">
  <div class="white-box">
    <h1 class="title has-text-primary">Signup</h1>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input
          class="input has-background-light"
          #emailinput
          type="email"
          placeholder="Email"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input has-background-light"
          #passwordinput
          type="password"
          placeholder="Password"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field" style="display: flex; align-items: right; justify-content: flex-end;">
      <p class="control">
        <button (click)="onCLickRegister(emailinput.value,passwordinput.value)" class="button is-success has-text-white">Register</button>
      </p>
    </div>
    <p>Have a account? <a routerLink="/login">Login</a> now!</p>
  </div>
</div>
